<div class="offer">
    <div class="header"><%= moment(offer.timestamp).format('YYYY. MM. DD. HH:mm') %></div>
    <div class="holder">
        <%= offer.name %>
        <%= offer.email %>
        <%= offer.prefdate %>
        <%= offer.typestring %>
        <%= offer.content %>
    </div>
</div>