<html>
    <head>
        <link rel="stylesheet" href="../css/viewstyles.css">
        <%- include('../shared/styles') -%>
    </head>
    <body>
        <%- include('../shared/header', { active: 'offers' }) -%>
        <div class="container-fluid">
            <div class="row">
                <% queryResult.items.forEach(function(offer) { %>
                    <div class="col-md-6 offset-md-3 offer-container">
                        <%- include('partials/offer', { offer: offer, moment: moment }) -%>
                    </div>
                <%});%>
                <div class="col-md-6 offset-md-3">
                    <div class="pagination-container">
                        <% for(var i = 1; i <= Math.ceil(queryResult.totalItems / 5); i ++) {%>
                            <a href="/offers?page=<%= i %>" class="page"><%= i %></a></span>
                        <%  } %>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../shared/footer') -%>
        <%- include('../shared/scripts') -%>
        <script src="../js/viewscripts.js"></script>
    </body>
</html>